body{
 color :#353;
 text-align: left;
 font-family: 'Courier New', Courier, monospace;
} 

#cabecera{
    background-color: azure;
    margin: auto; 
    box-shadow: 20px 2px 2 0 rgb(red, green, blue);

}



#container{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #ddd;
    margin:0 auto;
}
#container h1 {
    font-size: 20px;
}
